{% extends "base.jinja" %}

{% block title %}{{ _("Tracking and managing resources module") }}{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <h1>{{ _("Tracking and managing resources module") }}</h1>
  <h2>{{ _("All resources") }}</h2>
  <table>
    <label for="curr_charity_campaign">{{ _("Charity campaign") }}</label>
    <select name="curr_charity_campaign">
      
    </select>
    <br>
    <label>{{ _("Organization") }}</label>
  </table>
</div>

{% endblock %}