{% extends "base.jinja" %}

{% block title %}{{ _("Tracking and managing resources module") }}{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <h1>{{ _("Tracking and managing resources module") }}</h1>
  <p><a class="btn btn-primary btn-lg" href="{{ url_for('supply_chain.add_data') }}">{{ _("Add sample data") }}</a></p>


  <p><a class="btn btn-primary btn-lg" href="{{ url_for('supply_chain.truncate') }}">{{ _("Remove sample data") }}</a></p>
    <table class="table table-hover">
    <tr>
      <th> {{ _("Chrity campagin name:") }} {{ charity_campaign.name }}</th>
    </tr>
    <tr>a
      <th>{{ _("Avalible resources:") }}</th>
    </tr>

    {% if item_donations is none %}
    </table>
    <p> {{ _("Could not find any items") }} </p>

    {% else %}
    <tr>
      <td>{{ _("Lp") }} </td>
      <td>{{ _("Resource type:") }} </td>
      <td>{{ _("Number") }} </td>
    </tr>
    {% for donation in item_donations %}

      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ donation.type }}</td>
        <td>{{ donation.amount }}</td>
        <td><a href="">{{ _("Manage") }}</a></td>
      </tr>

    {% endfor %}
  </table>
    {% endif %}

    <table class="table table-hover">
      <tr>
        <th>{{ _("Current requests:") }} </th>
      </tr>
  
      {% if current_requests is none %}
      </table>
      <p>{{ _("Could not find any requests") }} </p>
  
      {% else %}
      <tr>
        <td>{{ _("Lp") }} </td>
        <td>{{ _("Name") }}</td>
        <td>{{ _("Status") }}</td>
        <td>{{ _("Affected") }}  </td>
        <td>{{ _("Address") }} </td>
        <td>{{ _("Needs") }}</td>
        <td>{{ _("Amount") }}</td>
        
      </tr>
      {% for curr_request in current_requests %}
      {% if curr_request.status == request_status.PENDING %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ curr_request.name }}</td>
          <td>{{ curr_request.status }}</td>
          <td>
            <table class="table">
              <tr>
                <td>{{ _("First name:") }}</td>
                <td>{{ curr_request.first_name }}</td>
              </tr>
              <tr>
                <td>{{ _("Last name") }}  </td>
                <td> {{ curr_request.last_name }} </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>{{ _("City") }}:</td>
                <td>{{ curr_request.city }}</td>
              </tr>
              <tr>
                <td>{{ _("Street") }}  </td>
                <td> {{ curr_request.street }} </td>
              </tr>
            </table>
          </td>
          <td>{{ curr_request.type }}</td>
          <td> {{curr_request.amount}} </td>
          <td>
            <a href="{{ url_for('supply_chain.manage_request', req_id=curr_request.id) }}">
            {{ _("Manage request") }}
        </a>
          </td>
        </tr>
      {% endif %}
      {% endfor %}

    </table>
      {% endif %}

      <table class="table table-hover">
        <tr>
          <th>{{ _("Donation history: ") }} </th>
        </tr>
    
        {% if current_requests is none %}
        </table>
        <p>{{ _("Could not find any requests") }} </p>
    
        {% else %}
        <tr>
          <td>{{ _("Lp") }} </td>
          <td>{{ _("Name") }}</td>
          <td>{{ _("Affected") }}  </td>
          <td>{{ _("Address") }} </td>
          <td>{{ _("Needs") }}</td>
          <td>{{ _("Amount") }}</td>
          
        </tr>
        {% for curr_request in current_requests %}
        {% if curr_request.status == request_status.COMPLETED %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ curr_request.name }}</td>
            <td>
              <table class="table">
                <tr>
                  <td>{{ _("First name:") }}</td>
                  <td>{{ curr_request.first_name }}</td>
                </tr>
                <tr>
                  <td>{{ _("Last name") }}  </td>
                  <td> {{ curr_request.last_name }} </td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>{{ _("City") }}:</td>
                  <td>{{ curr_request.city }}</td>
                </tr>
                <tr>
                  <td>{{ _("Street") }}  </td>
                  <td> {{ curr_request.street }} </td>
                </tr>
              </table>
            </td>
            <td>{{ curr_request.type }}</td>
            <td> {{curr_request.amount}} </td>
          </tr>
        {% endif %}
        {% endfor %}
  
      </table>
        {% endif %}



  <table>
    <tr>
      <th>{{ _("Avalible money") }}</th>
    </tr>
  </table>

  <table>
    <tr>
      <th> {{ _("Avalible resources:") }} </th>
    </tr>
  </table>

</div>
{% endblock %}