{% extends "base.jinja" %}

{% block title %}{{ _("Tracking and managing resources module") }}{% endblock %}

{% block script %}
<script src="../../static/supply_chain/js/view.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <h1>{{ _("Tracking and managing resources module") }}</h1>
  <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}">{{ _("Back") }}</a>
  <p><a class="btn btn-primary btn-lg" href="{{ url_for('supply_chain.view_all') }}">{{ _("Show everything") }}</a></p>
  <input type="button" class="btn btn-primary btn-lg" id="donated-items-button" value="Avaliable resources" onclick="changeView(VIEW.AVALIABLE_RESOURCES)">
  <input type="button" class="btn btn-primary btn-lg" id="donated-items-button" value="Items donated by donors" onclick="changeView(VIEW.DONATED_ITEMS)">
  <input type="button" class="btn btn-primary btn-lg" id="donated-money-button" value="Money donated by donors" onclick="changeView(VIEW.DONATED_MONEY)">
  <input type="button" class="btn btn-primary btn-lg" id="pending-requests-button" value="Current requests" onclick="changeView(VIEW.PENDING_REQUESTS)">
  <input type="button" class="btn btn-primary btn-lg" id="request-history-button" value="Completed requests" onclick="changeView(VIEW.REQUEST_HISTORY)">
  <br>
  {% if curr_organization is defined and charity_campaign is defined %}
      <p> {{ _("Organization name:") }} {{curr_organization.organization_name}} </p>
      <p> {{ _("Chrity campagin name:") }} {{ charity_campaign.name }}</p>
        <form method="post">
          <select name="curr_charity_campaign">
            {% for ch_campaign in all_charity_campaigns %}
              {% if ch_campaign.name == charity_campaign.name %}
              <option value="{{ch_campaign.id}}" selected>{{ch_campaign.name}}</option>
              {% else %}
              <option value="{{ch_campaign.id}}">{{ch_campaign.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
          <input type="submit" value="Select charity campaign">
      </form>
      </th>
      {% endif %}
    <table class="table table-hover" id="avaliable-resources">
    <tr>
      <th>{{ _("Avalible Items:") }}</th>
    </tr>
    {% if item_donations is none %}
    </table>
    <p> {{ _("Could not find any items") }} </p>

    {% else %}
    <tr>
      <td>{{ _("Lp") }} </td>
      <td>{{ _("Resource type:") }} </td>
      <td>{{ _("Number") }} </td>
    </tr>
    {% for donation in item_donations %}

      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ donation.type }}</td>
        <td>{{ donation.amount }}</td>
      </tr>

    {% endfor %}
  </table>
    {% endif %}

    <table class="table table-hover" id="pending-requests">
      <tr>
        <th>{{ _("Current requests:") }} </th>
      </tr>
  
      {% if current_requests is none %}
      </table>
      <p>{{ _("Could not find any requests") }} </p>
  
      {% else %}
      <tr>
        <td>{{ _("Lp") }} </td>
        <td>{{ _("Name") }}</td>
        <td>{{ _("Status") }}</td>
        <td>{{ _("Affected") }}  </td>
        <td>{{ _("Address") }} </td>
        <td>{{ _("Needs") }}</td>
        <td>{{ _("Amount") }}</td>
        
      </tr>
      {% for curr_request in current_requests %}
      {% if curr_request.status == request_status.PENDING %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ curr_request.name }}</td>
          <td>{{ curr_request.status }}</td>
          <td>
            <table class="table">
              <tr>
                <td>{{ _("First name:") }}</td>
                <td>{{ curr_request.first_name }}</td>
              </tr>
              <tr>
                <td>{{ _("Last name") }}  </td>
                <td> {{ curr_request.last_name }} </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>{{ _("City") }}:</td>
                <td>{{ curr_request.city }}</td>
              </tr>
              <tr>
                <td>{{ _("Street") }}  </td>
                <td> {{ curr_request.street }} </td>
              </tr>
            </table>
          </td>
          <td>{{ curr_request.type }}</td>
          <td> {{curr_request.amount}} </td>
          <td>
            <a href="{{ url_for('supply_chain.manage_request', req_id=curr_request.id) }}">
            {{ _("Manage request") }}
        </a>
          </td>
        </tr>
      {% endif %}
      {% endfor %}

    </table>
      {% endif %}

      <table class="table table-hover" id="donated-items">
        <tr>
          <th>{{ _("Donation history: ") }} </th>
        </tr>

        {% if current_requests is none %}
        </table>
        <p>{{ _("Could not find any requests") }} </p>
    
        {% else %}
        <tr>
          <td>{{ _("Lp") }} </td>
          <td>{{ _("Description") }}</td>
          <td>{{ _("Amount") }}  </td>
          <td>{{ _("Item type") }}  </td>
          <td>{{ _("Date") }} </td>
          <td>{{ _("Donor") }}</td>
        </tr>
        {% for donation in donation_item_history %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ donation.description }}</td>
            <td>{{ donation.amount }}</td>
            <td>{{ donation.type }}</td>
            <td>{{ donation.DonationItem.donation_date }}</td>
            <td>{{ donation.name}}  {{donation.surname}}</td>
          </tr>
        {% endfor %}
  
      </table>
        {% endif %}


        <table class="table table-hover" id="donated-money">
          <tr>
            <th>{{ _("Money donation history: ") }} </th>
          </tr>

          {% if current_requests is none %}
          </table>
          <p>{{ _("Could not find any requests") }} </p>
      
          {% else %}
          <tr>
            <td>{{ _("Lp") }} </td>
            <td>{{ _("Description") }}</td>
            <td>{{ _("Amount") }}  </td>
            <td>{{ _("Item type") }}  </td>
            <td>{{ _("Date") }} </td>
            <td>{{ _("Donor") }}</td>
          </tr>
          {% for donation in donation_money_history %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ donation.description }}</td>
              <td>{{ donation.cashAmount }}</td>
              <td>{{ donation.donation_type }}</td>
              <td>{{ donation.donation_date }}</td>
              <td>{{ donation.donor.name}}  {{donation.donor.surname}}</td>
            </tr>
          {% endfor %}
    
        </table>
          {% endif %}

        <table class="table table-hover" id="request-history">
          <tr>
            <th>{{ _("Request history") }} </th>
          </tr>
      
          {% if current_requests is none %}
          </table>
          <p>{{ _("Could not find any requests in the history") }} </p>
      
          {% else %}
          <tr>
            <td>{{ _("Lp") }} </td>
            <td>{{ _("Name") }}</td>
            <td>{{ _("Status") }}</td>
            <td>{{ _("Affected") }} </td>
            <td>{{ _("Address") }} </td>
            <td>{{ _("Needs") }}</td>
            <td>{{ _("Amount") }}</td>
            
          </tr>
          {% for curr_request in current_requests %}
          {% if curr_request.status == request_status.COMPLETED %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ curr_request.name }}</td>
              <td>{{ curr_request.status }}</td>
              <td>
                <table class="table">
                  <tr>
                    <td>{{ _("First name:") }}</td>
                    <td>{{ curr_request.first_name }}</td>
                  </tr>
                  <tr>
                    <td>{{ _("Last name") }}  </td>
                    <td> {{ curr_request.last_name }} </td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr>
                    <td>{{ _("City") }}:</td>
                    <td>{{ curr_request.city }}</td>
                  </tr>
                  <tr>
                    <td>{{ _("Street") }}  </td>
                    <td> {{ curr_request.street }} </td>
                  </tr>
                </table>
              </td>
              <td>{{ curr_request.type }}</td>
              <td> {{curr_request.amount}} </td>
            </tr>
          {% endif %}
          {% endfor %}
    
        </table>
          {% endif %}


  

  <table class="table table-hover" id="avaliable-money">
    <tr>
      <th>{{ _("Avalible money") }}</th>
    </tr>
    <tr>
      {% if curr_account_balance is defined %}
      <td>{{ curr_account_balance.amount }}</td>
      {% else %}
      <td>0</td>
      {% endif %}
    </tr>
  </table>

</div>
{% endblock %}