{% extends "base.jinja" %}

{% block title %}{{ _("Tracking and managing resources module") }}{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <h1>{{ _("Tracking and managing resources module") }}</h1>
  <p><a class="btn btn-primary btn-lg" href="{{ url_for('supply_chain.initialize') }}">{{ _("Add sample data") }}</a></p>
  <table>
    <tr>
      <td>Lp</td>
      <td>Resource type</td>
      <td>Value</td>
      <td>Location</td>

    </tr>
    {% for resource in resources %}

      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ resource.donation_type }}</td>
        <td>{{ resource.cashAmount }}</td>
        <td>{{ loop.index }}</td>
      </tr>

    {% endfor %}
  </table>

</div>
{% endblock %}