{% extends "base.jinja" %}  

{% block title %}Volunteer Tasks{% endblock %}

{% block content %}
     <div class="container mt-2">
    <h3>Tasks for {{ volunteer.first_name }} {{ volunteer.last_name }}</h3>
    <ul>
        {% for task in volunteer.tasks %}
            <li>
                <strong>{{ task.name }}</strong>: {{ task.description }}
                {%if task._evaluation  %}
                <li>
                    <strong>Evaluation: {{ task._evaluation }}</strong>
                </li>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
     </div>
{% endblock %}