<!DOCTYPE html>
<html>
  <head>
    <title>OpenStreetMap Example</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  </head>
  <body>
    <div id="map" style="width: 600px; height: 400px;"></div>
    <script>
      var map = L.map('map').setView([{{ area['coordinates'][0]['y'] }}, {{ area['coordinates'][0]['x'] }}], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      // Add POIs
      {{ pois }}

      // Add Area
      L.polygon(
        {{ area_coords }},
        {
          color: '{{ area["status"] }}',
          fillColor: '{{ area["status"] }}',
          fillOpacity: 0.5
        }
      ).addTo(map);

      // Add Danger Area
      L.polygon(
        {{ danger_area_coords }},
        {
          color: 'red',
          fillColor: 'red',
          fillOpacity: 0.5
        }
      ).addTo(map);

      // Add Relief Area
      L.polygon(
        {{ relief_area_coords }},
        {
          color: 'green',
          fillColor: 'green',
          fillOpacity: 0.5
        }
      ).addTo(map);

      function addCustomMarker(type, coords) {
        const icon = L.icon({
          iconUrl: `https://api.iconify.design/mdi:${type}.svg?color=757575`,
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [0, -41],
          shadowUrl: 'https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png',
          shadowSize: [41, 41],
          shadowAnchor: [12, 41]
        });

        return L.marker(coords, { icon: icon }).addTo(map);
      }

      // Add Distribution Point
      addCustomMarker('truck-delivery-outline', [{{ dist_point['y'] }}, {{ dist_point['x'] }}]);

      // Add Pickup Point
      addCustomMarker('truck-pickup', [{{ pickup_point['y'] }}, {{ pickup_point['x'] }}]);

    </script>
  </body>
</html>
