{% extends "base.jinja" %}

{% block title %}Organization Charity Campaigns{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1>Organization Charity Campaigns</h1>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Charity Campaign</th>
          <th scope="col">Organization</th>
          <th scope="col">Volunteers</th>
        </tr>
      </thead>
      <tbody>
        {% for campaign in organization_charity_campaigns %}
        <tr>
          <td>{{ campaign.id }}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="{{ url_for('organization.view_campaign', charity_campaign_id=campaign.charity_campaign.id) }}">{{_("View Campaign") }}</a>
          </td>
          <td>
            <a class="btn btn-primary btn-sm" href="{{ url_for('organization.view_organization', organization_id=campaign.organization.id) }}">{{_("View Organization") }}</a>
          </td>
          <td>
            <a class="btn btn-primary btn-sm" href="{{ url_for('organization.list_volunteers', charity_campaign_id=campaign.id) }}">{{_("View Volunteers") }}</a>
          </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}