{% extends "base.jinja" %}

{% block title %}Organization{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1>{{ _("Organization") }}</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                {# <th scope="col">ID</th> #}
                <th scope="col">{{ _("Name") }}</th>
                <th scope="col">{{ _("Description") }}</th>
                <th scope="col">{{ _("Approved") }}</th>
                <th scope="col">{{ _("Street") }}</th>
                <th scope="col">{{ _("Street number") }}</th>
                <th scope="col">{{ _("City") }}</th>
                <th scope="col">{{ _("Voivodeship") }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {# <td>{{ organization.id }}</td> #}
                <td>{{ organization.organization_name }}</td>
                <td>{{ organization.description}}</td>
                <td>{{ organization.approved }}</td>
                <td>{{ organization.address.street }}</td>
                <td>{{ organization.address.street_number}}</td>
                <td>{{ organization.address.city}}</td>
                <td>{{ organization.address.voivodeship}}</td>
            </tr>
    </table>
</div>
{% endblock %}