{% extends "base.jinja" %}

{% block title %}Authorities{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1>Authorities</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Approved</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ authorities.id }}</td>
                <td>{{ authorities.name }}</td>
                <td>{{ authorities.phone}}</td>
                <td>{{ authorities.approved }}</td>
            </tr>
    </table>
</div>
{% endblock %}