<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reports UI</title>
  <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <h1 class="text-primary text-center">Reports UI</h1>

    <div class="text-center mt-4">
      <button id="affected-report-btn" class="btn btn-primary mx-3">
        Generuj Raport Affected
      </button>
      <button id="volunteer-report-btn" class="btn btn-secondary mx-3">
        Generuj Raport Volunteer
      </button>
      <button id="donor-report-btn" class="btn btn-warning mx-3">
        Generuj Raport Donor
      </button>
    </div>

    <div class="mt-5">
      <p class="text-center">
        Po kliknięciu w przycisk zobaczysz stronę z wykresami i tabelą,
        a na dole możliwość pobrania pliku CSV.
      </p>
    </div>
  </div>

  <script>
    document.getElementById('affected-report-btn').addEventListener('click', () => {
      window.location.href = '/reports/affected-report';
    });
    document.getElementById('volunteer-report-btn').addEventListener('click', () => {
      window.location.href = '/reports/volunteer-report';
    });
    document.getElementById('donor-report-btn').addEventListener('click', () => {
      window.location.href = '/reports/donor-report';
    });
  </script>
</body>
</html>
