<!DOCTYPE html>
<html>
<head>
    <title>Reports UI</title>
</head>
<body>
    <h1>Reports User Interface</h1>
    <p>Wybierz jedną z akcji:</p>

    <button id="generate-btn">Generuj raport (JSON)</button>

    <button id="view-btn">Pokaż raporty (JSON)</button>

    <input type="number" id="report-id-input" placeholder="Report ID" style="width:100px;">
    <button id="export-btn">Pobierz CSV</button>

    <button id="all-btn">Przeglądaj raporty w HTML</button>

    <h2>Wynik:</h2>
    <pre id="result"></pre>

    <script src="../../reports/static/js/scripts.js" defer></script>
</body>
</html>
