{% extends "base.jinja" %}

{% block title %}{{ _("Crisis Management System") }}{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">{{ _("Crisis Management System") }}</h1>
  <p class="lead">
    {{_("""The Crisis Management System is a web-based platform that brings authorities,
    volunteers, aid organisations, affected and donors together in one place,
    enabling effective coordination of emergency aid.""") }}
  </p>
  <hr class="my-4">
  {# <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> #}
  {#
  <hr class="my-4"> #}
  <h3>{{ _("Modules") }}</h3>
  <div class="d-flex flex-column">
    <a class="btn btn-primary btn-lg" href="{{ url_for('volunteers.index') }}">{{ _("Volunteers Module") }}</a>
    <br>
    <a class="btn btn-primary btn-lg" href="{{ url_for('organization.index') }}">{{ _("Organizations Module") }}</a>
    <br>
    <a class="btn btn-primary btn-lg" href="{{ url_for('affected.index') }}">{{ _("Affected Module") }}</a>
    <br>
    <a class="btn btn-primary btn-lg" href="{{ url_for('donors.index') }}">{{ _("Donors Module") }}</a>
    <br>
    <a class="btn btn-primary btn-lg" href="{{ url_for('reports.ui') }}">{{ _("Reports Module") }}</a>
  </div>
</div>
{% endblock %}