{% extends "base.jinja" %}

{% block title %}{{ _("Crisis Management System") }}{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">{{ _("System zarządzania kryzysowego") }}</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
  <hr class="my-4">
  <h3>Modules</h3>
  <div class="d-flex flex-column">
    <a class="btn btn-primary btn-lg" href="{{ url_for('volunteers.index') }}">{{ _("Volunteers Module") }}</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('supply_chain.index') }}">{{ _("Tracking and managing resources module") }}</a>
  </div>
</div>
{% endblock %}